body {
    background: linear-gradient(to top, #3204fdba, #a507facc), url(https://picsum.photos/1280/853/?random=1)  top center;
    /* font-family: sans-serif,Arial, Helvetica; */
    font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
    color: #ffffff;
}

.align-center {
    text-align: center;
    font-size: 3rem;
}

.block {
    /* width: 700px; */
    min-width: 400px;
    max-width: 700px;
    height: 85rem;
    background-color: rgba(50, 0, 81, 0.794);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 50px;
    
    
}

.inputs {
    display: inline-block;
    text-align: left;
    min-width: 98%;
    border-radius: 0.5em;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.text {
    text-align: left;
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    
}

.description {
    text-align: center;
    display: block;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 3rem;
}

.options {
    display: inline-block;
    text-align: left;
    min-width: 100%;
    border-radius: 0.5em;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.hr1 {
    margin-bottom: 5rem;
}

.hr2 {
    margin-bottom: 2rem;
}

input[type="radio"] {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.radio-yes {
    display: inline-block;
    text-align: left;
}



.like-the-site {
    display: block;
    font-size: 20px;
    margin-top: 2.5rem;
}

.radio-options { 
    font-size: 18px;
   display: block;
   height: auto;
   width: auto;
}

.check-options { 
    font-size: 18px;
}
 
.text-area {
    display: inline-block;
    text-align: left;
    min-width: 100%;
    border-radius: 0.5em;
    height: 100px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #7e36fbba;
    color: #ffffff;
    min-width: 70%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5.5%;
    display: block;
}   